.mat-card {
	max-width: 37.5rem;

	padding: 1rem;

	border-top: 1px solid rgba(255, 255, 255, 0.12);

	cursor: pointer;

	.transaction__content {
		display: flex;

		.transaction__icon-container {
			display: flex;

			justify-content: center;
			align-items: center;

			.transaction__icon {
				display: flex;

				justify-content: center;
				align-items: center;

				border-radius: 5%;

				.mat-icon {
					width: auto;
					height: auto;

					font-size: 30px;
				}
			}
		}

		.transaction__divider {
			padding: 0 0.7rem;
		}

		.transaction__info {
			display: flex;

			flex-grow: 1;
			flex-direction: column;

			.transaction__main-info {
				display: flex;

				justify-content: space-between;

				.transaction__names {
					text-overflow: ellipsis;
					overflow: hidden;
					white-space: nowrap;

					.transaction__name-from {
						display: flex;
						align-items: center;

						.mat-icon {
							width: 1rem;
							height: 1rem;

							font-size: 1rem;
						}
					}
				}

				.transaction__amounts {
					div {
						text-align: end;
					}
				}
			}

			.transaction__notes {
				display: flex;

				gap: 5px;
				flex-wrap: wrap;

				padding-top: 5px;

				.transaction__note {
					display: flex;

					align-items: center;

					background: rgba(255, 255, 255, 0.05);

					border: 1px solid rgba(255, 255, 255, 0.12);
					border-radius: 5%;

					padding: 1px 5px;

					font-size: 13px;

					.mat-icon {
						width: 13px;
						height: 13px;

						font-size: 13px;
					}
				}
			}
		}

		.transaction__date {
			display: flex;

			align-self: auto;
			justify-content: center;

			writing-mode: vertical-rl;

			color: rgba(#e6e6e6, 0.7);

			font-size: 1rem;
			font-weight: bold;
		}

		mat-divider {
			height: 100%;
			width: 1px;

			margin-left: auto;
			margin-right: auto;
		}
	}
}
