.operate-transaction-page {
	display: flex;

	align-items: center;

	margin-top: 1rem;

	.operate-transaction-card {
		width: 100%;

		.mat-card-title {
			display: grid;

			grid-template-columns: auto 0;

			justify-items: center;

			margin-bottom: 1rem;

			p {
				display: flex;

				align-items: center;

				margin: 0;
			}

			button {
				justify-self: end;
			}
		}

		form {
			display: grid;

			input {
				-moz-appearance: textfield;
			}

			.mat-form-field {
				max-width: 180px;
				width: 100%;

				.mat-form-field-wrapper {
					padding: 0.5em 0 1.34375em 0;
				}

				.mat-form-field-infix {
					width: 100%;
				}
			}

			.content__destinations {
				display: flex;

				justify-content: space-around;
				gap: 0.5rem;

				.mat-form-field-wrapper {
					padding: 1.34375em 0;
				}

				mat-select-trigger {
					display: flex;

					align-items: center;

					.mat-icon {
						width: 1.1rem;
						height: 1.1rem;

						font-size: 1.1rem;
					}
				}
			}
		}

		.content__amount {
			display: flex;

			justify-content: center;
		}

		.content__additional {
			display: flex;

			justify-content: space-around;
			gap: 0.5rem;
		}

		.content__date {
			display: flex;

			justify-content: center;

			color: rgba(#e6e6e6, 0.7);
			font-weight: bold;

			margin-bottom: 1rem;

			background-color: rgba(255, 255, 255, 0.05);

			border: 1px solid rgba(255, 255, 255, 0.12);
			border-right: none;
			border-left: none;

			cursor: pointer;
		}
	}
}

.operate-transaction-page__mat-select {
	.mat-option-text {
		display: flex;

		align-items: center;

		font-size: 1rem;
	}
}
