@import "./palettes.scss";

body {
	height: 100vh;

	display: flex;

	justify-content: center;
	align-items: center;

	background-color: color(background, primary, dark);

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	width: 50vw;
	height: 50vh;

	padding: 0 2rem;

	background-color: color(background, secondary, dark);
	color: color(text, primary, dark);

	text-align: center;

	h1 {
		padding: 2rem 0;
	}

	b {
		color: #47ca3e;
	}

	.app__backend-status {
		margin-top: 4rem;
		padding-bottom: 2rem;

		background-color: color(background, secondary-variant, dark);

		p {
			color: color(text, secondary, dark);
		}
	}
}
